*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle
app/src/androidTest
app/src/test
app/.gitignore
app/proguard-rules.pro
gradle.properties
gradlew
gradlew.bat
library/src/test
library/src/androidTest
library/.gitignore
library/proguard-rules.pro
library/Remind.md
/.idea/
/.idea/misc.xml